<!DOCTYPE html>
<html ng-app="soal">
  <head>
    <title>Angular Test</title>
    <script src="angular.min.js"></script>
    <script src="angular-cookies.js"></script>
    <script src="jquery.js"></script>
    <script src="soal_1_script.js"></script>
  </head>
  <body>
    <h1>SOAL 1<h1>
    <div ng-controller="soal1">
      Nama:<input type="text" ng-model="namaUser" placeholder="Masukkan nama disini">
      <h3>Halo {{namaUser}}</h3>
    </div>
    <hr><hr>

    <h1>SOAL 2<h1>
    <div ng-controller="soal2">
      <input type="number" ng-model="uang"/><br>
      <h3>{{ uang | currency:"IDR ":2}}<h3>
    </div>
    <hr><hr>

    <h1>SOAL 3<h1>
    <div ng-controller="soal3">
      <ul>
        <li ng-repeat="data in list track by $index">
          Nama User : {{data.nama}}
        </li>
      </ul>
    </div>
    <hr><hr>

    <h1>SOAL 4<h1>
    <div ng-controller="soal4">
      Pilih Nama User :<br>
      <select ng-model="user">
        <option ng-repeat="key in dataSelectionKeys" ng-value="key">{{dataSelection[key]}}</option>
      </select>
      <h3>User {{dataSelection}}</h3>
    </div>


    <!--<div ng-controller="aaa">
    <form name="myForm">
      Pilih Nama User :<br>
      <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
        <option value="">---Please select---</option> 
        <option value="{{data.option1}}">Budi</option>
        <option value="Icha">Icha</option>
        <option value="Fajar">Fajar</option>
        <option value="Candra">Candra</option>
        <option value="Anton">Anton</option>
        <option value="Winny">Winny</option>
        <option value="Danu">Danu</option>
      </select><br>
      <tt>Nama User = {{data.singleSelect}}</tt>
    </form>
    </div>-->

  </body>
</html>